.duration, h1, h2, .faixa, .anim-1, .anim-2, .anim-3, .anim-4, .anim-5, .anim-6, .anim-7, .anim-8, .anim-9, .anim-10, .anim-11, .anim-12, .anim-13, .anim-14, .anim-15, .anim-16, .anim-17, .anim-18, .anim-19, .anim-20, .anim-21, .anim-22, .anim-23, .anim-24, .anim-25, .anim-26, .anim-27, .anim-28, .anim-29, .anim-30, .anim-31, .anim-32, .anim-33, .anim-34, .anim-35, .anim-36, .anim-37, .anim-38, .anim-39, .anim-40, .anim-41, .anim-42, .anim-43, .anim-44, .anim-45, .anim-46, .anim-47, .anim-48, .anim-49, .anim-50, .anim-51, .anim-52, .anim-53, .anim-54, .anim-55, .anim-56, .anim-57, .anim-58, .anim-59, .anim-60, .faixinha, .anim2-1, .anim2-2, .anim2-3, .anim2-4, .anim2-5, .anim2-6, .anim2-7, .anim2-8, .anim2-9, .anim2-10, .anim2-11, .anim2-12, .anim2-13, .anim2-14, .anim2-15, .anim2-16, .anim2-17, .anim2-18, .anim2-19, .anim2-20, .anim2-21, .anim2-22, .anim2-23, .anim2-24, .anim2-25, .anim2-26, .anim2-27, .anim2-28, .anim2-29, .anim2-30, .anim2-31, .anim2-32, .anim2-33, .anim2-34, .anim2-35, .anim2-36, .anim2-37, .anim2-38, .anim2-39, .anim2-40, .anim2-41, .anim2-42, .anim2-43, .anim2-44, .anim2-45, .anim2-46, .anim2-47, .anim2-48, .anim2-49, .anim2-50, .imagem.back, .imagem.front {
  -webkit-animation-duration: 6s;
  position: absolute; }

body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  overflow: hidden; }

h1 {
  font-size: 4em;
  bottom: 90px;
  opacity: 0;
  text-shadow: 3px 3px 10px #4d4d4d;
  color: white;
  left: 350px;
  -webkit-animation-name: chamada; }

@-webkit-keyframes chamada {
  0% {
    left: 300px;
    text-shadow: 3px 3px 10px #666666;
    -webkit-animation-timing-function: linear;
    opacity: 0; }
  16% {
    opacity: 0;
    -webkit-animation-timing-function: linear; }
  24% {
    opacity: 1;
    -webkit-animation-timing-function: linear; }
  80% {
    opacity: 1;
    -webkit-animation-timing-function: linear; }
  85% {
    opacity: 0; }
  100% {
    text-shadow: 0px 0px 10px #666666;
    left: 400px;
    opacity: 0; } }
h2 {
  font-size: 2.5em;
  bottom: 20px;
  opacity: 0;
  text-shadow: 3px 3px 10px #4d4d4d;
  color: white;
  left: 400px;
  -webkit-animation-name: chamada2; }

@-webkit-keyframes chamada2 {
  0% {
    left: 400px;
    text-shadow: 3px 3px 10px #666666;
    -webkit-animation-timing-function: linear;
    opacity: 0; }
  16% {
    opacity: 0;
    -webkit-animation-timing-function: linear; }
  24% {
    opacity: 1;
    -webkit-animation-timing-function: linear; }
  80% {
    opacity: 1;
    -webkit-animation-timing-function: linear; }
  85% {
    opacity: 0; }
  100% {
    text-shadow: 0px 0px 10px #666666;
    left: 300px;
    opacity: 0; } }
.faixa, .anim-1, .anim-2, .anim-3, .anim-4, .anim-5, .anim-6, .anim-7, .anim-8, .anim-9, .anim-10, .anim-11, .anim-12, .anim-13, .anim-14, .anim-15, .anim-16, .anim-17, .anim-18, .anim-19, .anim-20, .anim-21, .anim-22, .anim-23, .anim-24, .anim-25, .anim-26, .anim-27, .anim-28, .anim-29, .anim-30, .anim-31, .anim-32, .anim-33, .anim-34, .anim-35, .anim-36, .anim-37, .anim-38, .anim-39, .anim-40, .anim-41, .anim-42, .anim-43, .anim-44, .anim-45, .anim-46, .anim-47, .anim-48, .anim-49, .anim-50, .anim-51, .anim-52, .anim-53, .anim-54, .anim-55, .anim-56, .anim-57, .anim-58, .anim-59, .anim-60 {
  border-top: 2px solid #112d2f;
  border-bottom: 2px solid #112d2f;
  background-color: #4EB9BE;
  width: 1%;
  height: 15%;
  bottom: 5%;
  left: 100%; }

.faixinha, .anim2-1, .anim2-2, .anim2-3, .anim2-4, .anim2-5, .anim2-6, .anim2-7, .anim2-8, .anim2-9, .anim2-10, .anim2-11, .anim2-12, .anim2-13, .anim2-14, .anim2-15, .anim2-16, .anim2-17, .anim2-18, .anim2-19, .anim2-20, .anim2-21, .anim2-22, .anim2-23, .anim2-24, .anim2-25, .anim2-26, .anim2-27, .anim2-28, .anim2-29, .anim2-30, .anim2-31, .anim2-32, .anim2-33, .anim2-34, .anim2-35, .anim2-36, .anim2-37, .anim2-38, .anim2-39, .anim2-40, .anim2-41, .anim2-42, .anim2-43, .anim2-44, .anim2-45, .anim2-46, .anim2-47, .anim2-48, .anim2-49, .anim2-50 {
  border-bottom: 2px solid #da195a;
  border-top: 2px solid #da195a;
  background-color: #d9809e;
  width: 1%;
  height: 9%;
  bottom: 2%;
  right: 100%; }

.imagem {
  overflow: hidden;
  position: absolute;
  left: 10px;
  bottom: 0px; }
  .imagem.back {
    -webkit-animation-name: animagem;
    -webkit-animation-delay: 0.1s;
    transform: scale(0);
    opacity: 0;
    background-color: #3a9a9f;
    width: 260px;
    height: 260px;
    border-radius: 130px; }
  .imagem.front {
    border-radius: 125px;
    width: 250px;
    height: 250px;
    -webkit-animation-name: animagem;
    transform: scale(0);
    opacity: 0;
    left: 15px;
    bottom: 5px; }
  .imagem img {
    height: 100%; }

@-webkit-keyframes animagem {
  0% {
    -webkit-transform: scale(0);
    opacity: 0; }
  15.99% {
    -webkit-transform: scale(0);
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.29, 0.62, 1.24); }
  16% {
    opacity: 1; }
  25% {
    -webkit-transform: scale(1); }
  80% {
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0.36, 0.06, 1, 0.67); }
  89.99% {
    opacity: 1; }
  90% {
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(0); } }
.anim-1 {
  -webkit-animation-name: animacao1-1;
  -webkit-animation-delay: 0s; }

@-webkit-keyframes animacao1-1 {
  0% {
    left: 100%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 0%; }
  98% {
    left: 0%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -50%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-2 {
  -webkit-animation-name: animacao1-2;
  -webkit-animation-delay: 0.007s; }

@-webkit-keyframes animacao1-2 {
  0% {
    left: 101%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 1%; }
  98% {
    left: 1%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -51%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-3 {
  -webkit-animation-name: animacao1-3;
  -webkit-animation-delay: 0.014s; }

@-webkit-keyframes animacao1-3 {
  0% {
    left: 102%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 2%; }
  98% {
    left: 2%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -52%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-4 {
  -webkit-animation-name: animacao1-4;
  -webkit-animation-delay: 0.021s; }

@-webkit-keyframes animacao1-4 {
  0% {
    left: 103%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 3%; }
  98% {
    left: 3%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -53%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-5 {
  -webkit-animation-name: animacao1-5;
  -webkit-animation-delay: 0.028s; }

@-webkit-keyframes animacao1-5 {
  0% {
    left: 104%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 4%; }
  98% {
    left: 4%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -54%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-6 {
  -webkit-animation-name: animacao1-6;
  -webkit-animation-delay: 0.035s; }

@-webkit-keyframes animacao1-6 {
  0% {
    left: 105%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 5%; }
  98% {
    left: 5%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -55%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-7 {
  -webkit-animation-name: animacao1-7;
  -webkit-animation-delay: 0.042s; }

@-webkit-keyframes animacao1-7 {
  0% {
    left: 106%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 6%; }
  98% {
    left: 6%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -56%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-8 {
  -webkit-animation-name: animacao1-8;
  -webkit-animation-delay: 0.049s; }

@-webkit-keyframes animacao1-8 {
  0% {
    left: 107%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 7%; }
  98% {
    left: 7%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -57%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-9 {
  -webkit-animation-name: animacao1-9;
  -webkit-animation-delay: 0.056s; }

@-webkit-keyframes animacao1-9 {
  0% {
    left: 108%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 8%; }
  98% {
    left: 8%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -58%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-10 {
  -webkit-animation-name: animacao1-10;
  -webkit-animation-delay: 0.063s; }

@-webkit-keyframes animacao1-10 {
  0% {
    left: 109%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 9%; }
  98% {
    left: 9%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -59%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-11 {
  -webkit-animation-name: animacao1-11;
  -webkit-animation-delay: 0.07s; }

@-webkit-keyframes animacao1-11 {
  0% {
    left: 110%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 10%; }
  98% {
    left: 10%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -60%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-12 {
  -webkit-animation-name: animacao1-12;
  -webkit-animation-delay: 0.077s; }

@-webkit-keyframes animacao1-12 {
  0% {
    left: 111%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 11%; }
  98% {
    left: 11%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -61%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-13 {
  -webkit-animation-name: animacao1-13;
  -webkit-animation-delay: 0.084s; }

@-webkit-keyframes animacao1-13 {
  0% {
    left: 112%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 12%; }
  98% {
    left: 12%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -62%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-14 {
  -webkit-animation-name: animacao1-14;
  -webkit-animation-delay: 0.091s; }

@-webkit-keyframes animacao1-14 {
  0% {
    left: 113%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 13%; }
  98% {
    left: 13%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -63%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-15 {
  -webkit-animation-name: animacao1-15;
  -webkit-animation-delay: 0.098s; }

@-webkit-keyframes animacao1-15 {
  0% {
    left: 114%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 14%; }
  98% {
    left: 14%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -64%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-16 {
  -webkit-animation-name: animacao1-16;
  -webkit-animation-delay: 0.105s; }

@-webkit-keyframes animacao1-16 {
  0% {
    left: 115%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 15%; }
  98% {
    left: 15%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -65%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-17 {
  -webkit-animation-name: animacao1-17;
  -webkit-animation-delay: 0.112s; }

@-webkit-keyframes animacao1-17 {
  0% {
    left: 116%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 16%; }
  98% {
    left: 16%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -66%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-18 {
  -webkit-animation-name: animacao1-18;
  -webkit-animation-delay: 0.119s; }

@-webkit-keyframes animacao1-18 {
  0% {
    left: 117%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 17%; }
  98% {
    left: 17%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -67%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-19 {
  -webkit-animation-name: animacao1-19;
  -webkit-animation-delay: 0.126s; }

@-webkit-keyframes animacao1-19 {
  0% {
    left: 118%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 18%; }
  98% {
    left: 18%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -68%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-20 {
  -webkit-animation-name: animacao1-20;
  -webkit-animation-delay: 0.133s; }

@-webkit-keyframes animacao1-20 {
  0% {
    left: 119%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 19%; }
  98% {
    left: 19%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -69%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-21 {
  -webkit-animation-name: animacao1-21;
  -webkit-animation-delay: 0.14s; }

@-webkit-keyframes animacao1-21 {
  0% {
    left: 120%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 20%; }
  98% {
    left: 20%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -70%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-22 {
  -webkit-animation-name: animacao1-22;
  -webkit-animation-delay: 0.147s; }

@-webkit-keyframes animacao1-22 {
  0% {
    left: 121%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 21%; }
  98% {
    left: 21%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -71%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-23 {
  -webkit-animation-name: animacao1-23;
  -webkit-animation-delay: 0.154s; }

@-webkit-keyframes animacao1-23 {
  0% {
    left: 122%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 22%; }
  98% {
    left: 22%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -72%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-24 {
  -webkit-animation-name: animacao1-24;
  -webkit-animation-delay: 0.161s; }

@-webkit-keyframes animacao1-24 {
  0% {
    left: 123%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 23%; }
  98% {
    left: 23%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -73%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-25 {
  -webkit-animation-name: animacao1-25;
  -webkit-animation-delay: 0.168s; }

@-webkit-keyframes animacao1-25 {
  0% {
    left: 124%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 24%; }
  98% {
    left: 24%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -74%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-26 {
  -webkit-animation-name: animacao1-26;
  -webkit-animation-delay: 0.175s; }

@-webkit-keyframes animacao1-26 {
  0% {
    left: 125%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 25%; }
  98% {
    left: 25%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -75%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-27 {
  -webkit-animation-name: animacao1-27;
  -webkit-animation-delay: 0.182s; }

@-webkit-keyframes animacao1-27 {
  0% {
    left: 126%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 26%; }
  98% {
    left: 26%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -76%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-28 {
  -webkit-animation-name: animacao1-28;
  -webkit-animation-delay: 0.189s; }

@-webkit-keyframes animacao1-28 {
  0% {
    left: 127%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 27%; }
  98% {
    left: 27%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -77%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-29 {
  -webkit-animation-name: animacao1-29;
  -webkit-animation-delay: 0.196s; }

@-webkit-keyframes animacao1-29 {
  0% {
    left: 128%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 28%; }
  98% {
    left: 28%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -78%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-30 {
  -webkit-animation-name: animacao1-30;
  -webkit-animation-delay: 0.203s; }

@-webkit-keyframes animacao1-30 {
  0% {
    left: 129%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 29%; }
  98% {
    left: 29%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -79%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-31 {
  -webkit-animation-name: animacao1-31;
  -webkit-animation-delay: 0.21s; }

@-webkit-keyframes animacao1-31 {
  0% {
    left: 130%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 30%; }
  98% {
    left: 30%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -80%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-32 {
  -webkit-animation-name: animacao1-32;
  -webkit-animation-delay: 0.217s; }

@-webkit-keyframes animacao1-32 {
  0% {
    left: 131%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 31%; }
  98% {
    left: 31%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -81%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-33 {
  -webkit-animation-name: animacao1-33;
  -webkit-animation-delay: 0.224s; }

@-webkit-keyframes animacao1-33 {
  0% {
    left: 132%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 32%; }
  98% {
    left: 32%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -82%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-34 {
  -webkit-animation-name: animacao1-34;
  -webkit-animation-delay: 0.231s; }

@-webkit-keyframes animacao1-34 {
  0% {
    left: 133%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 33%; }
  98% {
    left: 33%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -83%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-35 {
  -webkit-animation-name: animacao1-35;
  -webkit-animation-delay: 0.238s; }

@-webkit-keyframes animacao1-35 {
  0% {
    left: 134%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 34%; }
  98% {
    left: 34%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -84%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-36 {
  -webkit-animation-name: animacao1-36;
  -webkit-animation-delay: 0.245s; }

@-webkit-keyframes animacao1-36 {
  0% {
    left: 135%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 35%; }
  98% {
    left: 35%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -85%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-37 {
  -webkit-animation-name: animacao1-37;
  -webkit-animation-delay: 0.252s; }

@-webkit-keyframes animacao1-37 {
  0% {
    left: 136%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 36%; }
  98% {
    left: 36%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -86%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-38 {
  -webkit-animation-name: animacao1-38;
  -webkit-animation-delay: 0.259s; }

@-webkit-keyframes animacao1-38 {
  0% {
    left: 137%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 37%; }
  98% {
    left: 37%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -87%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-39 {
  -webkit-animation-name: animacao1-39;
  -webkit-animation-delay: 0.266s; }

@-webkit-keyframes animacao1-39 {
  0% {
    left: 138%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 38%; }
  98% {
    left: 38%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -88%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-40 {
  -webkit-animation-name: animacao1-40;
  -webkit-animation-delay: 0.273s; }

@-webkit-keyframes animacao1-40 {
  0% {
    left: 139%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 39%; }
  98% {
    left: 39%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -89%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-41 {
  -webkit-animation-name: animacao1-41;
  -webkit-animation-delay: 0.28s; }

@-webkit-keyframes animacao1-41 {
  0% {
    left: 140%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 40%; }
  98% {
    left: 40%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -90%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-42 {
  -webkit-animation-name: animacao1-42;
  -webkit-animation-delay: 0.287s; }

@-webkit-keyframes animacao1-42 {
  0% {
    left: 141%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 41%; }
  98% {
    left: 41%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -91%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-43 {
  -webkit-animation-name: animacao1-43;
  -webkit-animation-delay: 0.294s; }

@-webkit-keyframes animacao1-43 {
  0% {
    left: 142%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 42%; }
  98% {
    left: 42%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -92%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-44 {
  -webkit-animation-name: animacao1-44;
  -webkit-animation-delay: 0.301s; }

@-webkit-keyframes animacao1-44 {
  0% {
    left: 143%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 43%; }
  98% {
    left: 43%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -93%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-45 {
  -webkit-animation-name: animacao1-45;
  -webkit-animation-delay: 0.308s; }

@-webkit-keyframes animacao1-45 {
  0% {
    left: 144%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 44%; }
  98% {
    left: 44%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -94%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-46 {
  -webkit-animation-name: animacao1-46;
  -webkit-animation-delay: 0.315s; }

@-webkit-keyframes animacao1-46 {
  0% {
    left: 145%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 45%; }
  98% {
    left: 45%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -95%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-47 {
  -webkit-animation-name: animacao1-47;
  -webkit-animation-delay: 0.322s; }

@-webkit-keyframes animacao1-47 {
  0% {
    left: 146%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 46%; }
  98% {
    left: 46%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -96%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-48 {
  -webkit-animation-name: animacao1-48;
  -webkit-animation-delay: 0.329s; }

@-webkit-keyframes animacao1-48 {
  0% {
    left: 147%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 47%; }
  98% {
    left: 47%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -97%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-49 {
  -webkit-animation-name: animacao1-49;
  -webkit-animation-delay: 0.336s; }

@-webkit-keyframes animacao1-49 {
  0% {
    left: 148%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 48%; }
  98% {
    left: 48%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -98%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-50 {
  -webkit-animation-name: animacao1-50;
  -webkit-animation-delay: 0.343s; }

@-webkit-keyframes animacao1-50 {
  0% {
    left: 149%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 49%; }
  98% {
    left: 49%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -99%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-51 {
  -webkit-animation-name: animacao1-51;
  -webkit-animation-delay: 0.35s; }

@-webkit-keyframes animacao1-51 {
  0% {
    left: 150%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 50%; }
  98% {
    left: 50%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -100%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-52 {
  -webkit-animation-name: animacao1-52;
  -webkit-animation-delay: 0.357s; }

@-webkit-keyframes animacao1-52 {
  0% {
    left: 151%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 51%; }
  98% {
    left: 51%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -101%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-53 {
  -webkit-animation-name: animacao1-53;
  -webkit-animation-delay: 0.364s; }

@-webkit-keyframes animacao1-53 {
  0% {
    left: 152%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 52%; }
  98% {
    left: 52%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -102%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-54 {
  -webkit-animation-name: animacao1-54;
  -webkit-animation-delay: 0.371s; }

@-webkit-keyframes animacao1-54 {
  0% {
    left: 153%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 53%; }
  98% {
    left: 53%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -103%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-55 {
  -webkit-animation-name: animacao1-55;
  -webkit-animation-delay: 0.378s; }

@-webkit-keyframes animacao1-55 {
  0% {
    left: 154%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 54%; }
  98% {
    left: 54%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -104%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-56 {
  -webkit-animation-name: animacao1-56;
  -webkit-animation-delay: 0.385s; }

@-webkit-keyframes animacao1-56 {
  0% {
    left: 155%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 55%; }
  98% {
    left: 55%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -105%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-57 {
  -webkit-animation-name: animacao1-57;
  -webkit-animation-delay: 0.392s; }

@-webkit-keyframes animacao1-57 {
  0% {
    left: 156%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 56%; }
  98% {
    left: 56%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -106%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-58 {
  -webkit-animation-name: animacao1-58;
  -webkit-animation-delay: 0.399s; }

@-webkit-keyframes animacao1-58 {
  0% {
    left: 157%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 57%; }
  98% {
    left: 57%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -107%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-59 {
  -webkit-animation-name: animacao1-59;
  -webkit-animation-delay: 0.406s; }

@-webkit-keyframes animacao1-59 {
  0% {
    left: 158%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 58%; }
  98% {
    left: 58%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -108%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim-60 {
  -webkit-animation-name: animacao1-60;
  -webkit-animation-delay: 0.413s;
  border-right: 2px solid #112d2f; }

@-webkit-keyframes animacao1-60 {
  0% {
    left: 159%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    left: 59%; }
  98% {
    left: 59%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    left: -109%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-1 {
  -webkit-animation-name: animacao2-1;
  -webkit-animation-delay: 0s;
  border-right: 2px solid #da195a; }

@-webkit-keyframes animacao2-1 {
  0% {
    right: 100%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 51%; }
  98% {
    right: 51%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -50%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-2 {
  -webkit-animation-name: animacao2-2;
  -webkit-animation-delay: 0.007s; }

@-webkit-keyframes animacao2-2 {
  0% {
    right: 101%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 52%; }
  98% {
    right: 52%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -51%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-3 {
  -webkit-animation-name: animacao2-3;
  -webkit-animation-delay: 0.014s; }

@-webkit-keyframes animacao2-3 {
  0% {
    right: 102%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 53%; }
  98% {
    right: 53%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -52%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-4 {
  -webkit-animation-name: animacao2-4;
  -webkit-animation-delay: 0.021s; }

@-webkit-keyframes animacao2-4 {
  0% {
    right: 103%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 54%; }
  98% {
    right: 54%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -53%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-5 {
  -webkit-animation-name: animacao2-5;
  -webkit-animation-delay: 0.028s; }

@-webkit-keyframes animacao2-5 {
  0% {
    right: 104%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 55%; }
  98% {
    right: 55%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -54%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-6 {
  -webkit-animation-name: animacao2-6;
  -webkit-animation-delay: 0.035s; }

@-webkit-keyframes animacao2-6 {
  0% {
    right: 105%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 56%; }
  98% {
    right: 56%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -55%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-7 {
  -webkit-animation-name: animacao2-7;
  -webkit-animation-delay: 0.042s; }

@-webkit-keyframes animacao2-7 {
  0% {
    right: 106%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 57%; }
  98% {
    right: 57%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -56%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-8 {
  -webkit-animation-name: animacao2-8;
  -webkit-animation-delay: 0.049s; }

@-webkit-keyframes animacao2-8 {
  0% {
    right: 107%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 58%; }
  98% {
    right: 58%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -57%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-9 {
  -webkit-animation-name: animacao2-9;
  -webkit-animation-delay: 0.056s; }

@-webkit-keyframes animacao2-9 {
  0% {
    right: 108%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 59%; }
  98% {
    right: 59%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -58%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-10 {
  -webkit-animation-name: animacao2-10;
  -webkit-animation-delay: 0.063s; }

@-webkit-keyframes animacao2-10 {
  0% {
    right: 109%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 60%; }
  98% {
    right: 60%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -59%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-11 {
  -webkit-animation-name: animacao2-11;
  -webkit-animation-delay: 0.07s; }

@-webkit-keyframes animacao2-11 {
  0% {
    right: 110%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 61%; }
  98% {
    right: 61%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -60%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-12 {
  -webkit-animation-name: animacao2-12;
  -webkit-animation-delay: 0.077s; }

@-webkit-keyframes animacao2-12 {
  0% {
    right: 111%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 62%; }
  98% {
    right: 62%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -61%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-13 {
  -webkit-animation-name: animacao2-13;
  -webkit-animation-delay: 0.084s; }

@-webkit-keyframes animacao2-13 {
  0% {
    right: 112%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 63%; }
  98% {
    right: 63%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -62%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-14 {
  -webkit-animation-name: animacao2-14;
  -webkit-animation-delay: 0.091s; }

@-webkit-keyframes animacao2-14 {
  0% {
    right: 113%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 64%; }
  98% {
    right: 64%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -63%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-15 {
  -webkit-animation-name: animacao2-15;
  -webkit-animation-delay: 0.098s; }

@-webkit-keyframes animacao2-15 {
  0% {
    right: 114%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 65%; }
  98% {
    right: 65%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -64%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-16 {
  -webkit-animation-name: animacao2-16;
  -webkit-animation-delay: 0.105s; }

@-webkit-keyframes animacao2-16 {
  0% {
    right: 115%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 66%; }
  98% {
    right: 66%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -65%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-17 {
  -webkit-animation-name: animacao2-17;
  -webkit-animation-delay: 0.112s; }

@-webkit-keyframes animacao2-17 {
  0% {
    right: 116%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 67%; }
  98% {
    right: 67%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -66%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-18 {
  -webkit-animation-name: animacao2-18;
  -webkit-animation-delay: 0.119s; }

@-webkit-keyframes animacao2-18 {
  0% {
    right: 117%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 68%; }
  98% {
    right: 68%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -67%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-19 {
  -webkit-animation-name: animacao2-19;
  -webkit-animation-delay: 0.126s; }

@-webkit-keyframes animacao2-19 {
  0% {
    right: 118%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 69%; }
  98% {
    right: 69%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -68%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-20 {
  -webkit-animation-name: animacao2-20;
  -webkit-animation-delay: 0.133s; }

@-webkit-keyframes animacao2-20 {
  0% {
    right: 119%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 70%; }
  98% {
    right: 70%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -69%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-21 {
  -webkit-animation-name: animacao2-21;
  -webkit-animation-delay: 0.14s; }

@-webkit-keyframes animacao2-21 {
  0% {
    right: 120%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 71%; }
  98% {
    right: 71%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -70%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-22 {
  -webkit-animation-name: animacao2-22;
  -webkit-animation-delay: 0.147s; }

@-webkit-keyframes animacao2-22 {
  0% {
    right: 121%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 72%; }
  98% {
    right: 72%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -71%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-23 {
  -webkit-animation-name: animacao2-23;
  -webkit-animation-delay: 0.154s; }

@-webkit-keyframes animacao2-23 {
  0% {
    right: 122%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 73%; }
  98% {
    right: 73%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -72%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-24 {
  -webkit-animation-name: animacao2-24;
  -webkit-animation-delay: 0.161s; }

@-webkit-keyframes animacao2-24 {
  0% {
    right: 123%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 74%; }
  98% {
    right: 74%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -73%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-25 {
  -webkit-animation-name: animacao2-25;
  -webkit-animation-delay: 0.168s; }

@-webkit-keyframes animacao2-25 {
  0% {
    right: 124%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 75%; }
  98% {
    right: 75%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -74%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-26 {
  -webkit-animation-name: animacao2-26;
  -webkit-animation-delay: 0.175s; }

@-webkit-keyframes animacao2-26 {
  0% {
    right: 125%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 76%; }
  98% {
    right: 76%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -75%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-27 {
  -webkit-animation-name: animacao2-27;
  -webkit-animation-delay: 0.182s; }

@-webkit-keyframes animacao2-27 {
  0% {
    right: 126%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 77%; }
  98% {
    right: 77%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -76%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-28 {
  -webkit-animation-name: animacao2-28;
  -webkit-animation-delay: 0.189s; }

@-webkit-keyframes animacao2-28 {
  0% {
    right: 127%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 78%; }
  98% {
    right: 78%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -77%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-29 {
  -webkit-animation-name: animacao2-29;
  -webkit-animation-delay: 0.196s; }

@-webkit-keyframes animacao2-29 {
  0% {
    right: 128%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 79%; }
  98% {
    right: 79%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -78%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-30 {
  -webkit-animation-name: animacao2-30;
  -webkit-animation-delay: 0.203s; }

@-webkit-keyframes animacao2-30 {
  0% {
    right: 129%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 80%; }
  98% {
    right: 80%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -79%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-31 {
  -webkit-animation-name: animacao2-31;
  -webkit-animation-delay: 0.21s; }

@-webkit-keyframes animacao2-31 {
  0% {
    right: 130%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 81%; }
  98% {
    right: 81%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -80%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-32 {
  -webkit-animation-name: animacao2-32;
  -webkit-animation-delay: 0.217s; }

@-webkit-keyframes animacao2-32 {
  0% {
    right: 131%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 82%; }
  98% {
    right: 82%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -81%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-33 {
  -webkit-animation-name: animacao2-33;
  -webkit-animation-delay: 0.224s; }

@-webkit-keyframes animacao2-33 {
  0% {
    right: 132%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 83%; }
  98% {
    right: 83%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -82%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-34 {
  -webkit-animation-name: animacao2-34;
  -webkit-animation-delay: 0.231s; }

@-webkit-keyframes animacao2-34 {
  0% {
    right: 133%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 84%; }
  98% {
    right: 84%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -83%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-35 {
  -webkit-animation-name: animacao2-35;
  -webkit-animation-delay: 0.238s; }

@-webkit-keyframes animacao2-35 {
  0% {
    right: 134%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 85%; }
  98% {
    right: 85%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -84%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-36 {
  -webkit-animation-name: animacao2-36;
  -webkit-animation-delay: 0.245s; }

@-webkit-keyframes animacao2-36 {
  0% {
    right: 135%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 86%; }
  98% {
    right: 86%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -85%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-37 {
  -webkit-animation-name: animacao2-37;
  -webkit-animation-delay: 0.252s; }

@-webkit-keyframes animacao2-37 {
  0% {
    right: 136%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 87%; }
  98% {
    right: 87%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -86%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-38 {
  -webkit-animation-name: animacao2-38;
  -webkit-animation-delay: 0.259s; }

@-webkit-keyframes animacao2-38 {
  0% {
    right: 137%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 88%; }
  98% {
    right: 88%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -87%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-39 {
  -webkit-animation-name: animacao2-39;
  -webkit-animation-delay: 0.266s; }

@-webkit-keyframes animacao2-39 {
  0% {
    right: 138%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 89%; }
  98% {
    right: 89%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -88%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-40 {
  -webkit-animation-name: animacao2-40;
  -webkit-animation-delay: 0.273s; }

@-webkit-keyframes animacao2-40 {
  0% {
    right: 139%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 90%; }
  98% {
    right: 90%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -89%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-41 {
  -webkit-animation-name: animacao2-41;
  -webkit-animation-delay: 0.28s; }

@-webkit-keyframes animacao2-41 {
  0% {
    right: 140%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 91%; }
  98% {
    right: 91%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -90%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-42 {
  -webkit-animation-name: animacao2-42;
  -webkit-animation-delay: 0.287s; }

@-webkit-keyframes animacao2-42 {
  0% {
    right: 141%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 92%; }
  98% {
    right: 92%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -91%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-43 {
  -webkit-animation-name: animacao2-43;
  -webkit-animation-delay: 0.294s; }

@-webkit-keyframes animacao2-43 {
  0% {
    right: 142%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 93%; }
  98% {
    right: 93%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -92%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-44 {
  -webkit-animation-name: animacao2-44;
  -webkit-animation-delay: 0.301s; }

@-webkit-keyframes animacao2-44 {
  0% {
    right: 143%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 94%; }
  98% {
    right: 94%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -93%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-45 {
  -webkit-animation-name: animacao2-45;
  -webkit-animation-delay: 0.308s; }

@-webkit-keyframes animacao2-45 {
  0% {
    right: 144%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 95%; }
  98% {
    right: 95%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -94%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-46 {
  -webkit-animation-name: animacao2-46;
  -webkit-animation-delay: 0.315s; }

@-webkit-keyframes animacao2-46 {
  0% {
    right: 145%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 96%; }
  98% {
    right: 96%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -95%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-47 {
  -webkit-animation-name: animacao2-47;
  -webkit-animation-delay: 0.322s; }

@-webkit-keyframes animacao2-47 {
  0% {
    right: 146%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 97%; }
  98% {
    right: 97%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -96%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-48 {
  -webkit-animation-name: animacao2-48;
  -webkit-animation-delay: 0.329s; }

@-webkit-keyframes animacao2-48 {
  0% {
    right: 147%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 98%; }
  98% {
    right: 98%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -97%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-49 {
  -webkit-animation-name: animacao2-49;
  -webkit-animation-delay: 0.336s; }

@-webkit-keyframes animacao2-49 {
  0% {
    right: 148%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 99%; }
  98% {
    right: 99%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -98%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }
.anim2-50 {
  -webkit-animation-name: animacao2-50;
  -webkit-animation-delay: 0.343s; }

@-webkit-keyframes animacao2-50 {
  0% {
    right: 149%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  2% {
    right: 100%; }
  98% {
    right: 100%;
    -webkit-animation-timing-function: cubic-bezier(0.51, 0.22, 0.62, 0.86); }
  100% {
    right: -99%;
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.24, 0.63, 0.69); } }

/*# sourceMappingURL=style.css.map */
